<div class="sign-in-header">
  <h4><%= image_tag('H.png') %><p>ackathon<p></h4>
  <%= link_to "Sign In", new_user_session_path, :class => 'sign-in-link' %>
</div>

<div class="sign-up-main-container">
  <h2>Sign up</h2>
  <div class="sign-up-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :firstname, :class => "label" %><br />
      <%= f.text_field :firstname, autofocus: true, autocomplete: "email", :class => "input" %>
    </div>

    <div class="field">
      <%= f.label :lastname, :class => "label" %><br />
      <%= f.text_field :lastname, autofocus: true, autocomplete: "email", :class => "input" %>
    </div>

    <div class="field">
      <%= f.label :email, :class => "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input" %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", :class => "input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, :class => "label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  </div>
</div>
<!--%= render "devise/shared/links" %-->
