<%= render '/layouts/header'%>


<% @challenges.each do |challenge| %>
<div>
<%= challenge.title %>
<%= challenge.description %>
<%= find_tag(challenge.id)%>
<%= count_vote(challenge.id) %>
<%= check_vote(challenge.id) %>
<%= check_collaboration(challenge.id) %>
<% find_collaborations(challenge.id).each do |collaborate| %>
  <%= find_user_firstname(collaborate.user_id.to_i) %>
<% end %>
</div>
<% end %>
