<%= render '/layouts/header'%>
<h2>Challenges</h2>
<table class="table-sortable">
  <thead>
    <tr class="challenge-info-heading">
      <th>Title</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Tag</th>
      <th>Votes</th>
      <th>Like</th>
      <th>Collab</th>
      <th>Collaborators</th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
    <tr>
      <td><%= challenge.title %></td>
      <td><%= challenge.description %></td>
      <td><%= challenge_date_beautify(challenge.created_at)%></td>
      <td class="tag-name"><p id="tag"><%= find_tag(challenge.id)%></p></td>
      <td><%= count_vote(challenge.id) %></td>
      <td><%= check_vote(challenge.id, challenge.user_id, current_user.id) %></td>
      <td><%= check_collaboration(challenge.id, challenge.user_id, current_user.id) %></td>
      <td>
      <% @collaborations.select(:user_id).where(challenge_id: challenge.id).each do |collaborate| %>
          <%= find_user_firstname(collaborate.user_id.to_i) %>
      <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
<%= will_paginate @challenges, renderer: BootstrapPagination::Rails %>
<script>
  sort()
</script>
