<%= render '/layouts/header'%>
<div id="post-challenge-form">
<%= form_for :challenge, :url => {:controller => "challenges", :action => "create" }  do |f| %>
<%= f.text_field :title, :class => "challenge-form-field" %>
<%= f.text_area :description, :class => "challenge-form-area" %>
<%= f.collection_select :tag_id, Tag.all, :id, :tag_name %>
<%= f.text_field :user_id, :type => 'hidden'%>
<div id="challenge-submit">
<%= f.submit%>
</div>
<% end %>
</div>

<% @challenges.each do |challenge| %>
<div>
<%= challenge.title %>
<%= challenge.description %>
<% Tag.select(:tag_name).where(id: TagChallenge.select(:tag_id).where(challenge_id: challenge.id)).each do |tag|%>
<%= tag.tag_name%>
<% end %>
<%= Vote.where(challenge_id: challenge.id,user_id: current_user.id).count %>
<% if Vote.check(challenge.id, current_user.id) == 0 %>
  <%= link_to image_tag('add_vote.png'), vote_path(:challenge_id => challenge.id) %>
<% else %>
  <%= link_to image_tag('voted.png'), vote_path(:challenge_id => challenge.id) %>
<% end %>
<% if Collaboration.check(challenge.id, current_user.id) == 0 %>
<%= link_to image_tag('contribute.png'), collaborate_url(:challenge_id => challenge.id) %>
<% else %>
<%= link_to image_tag('contributed.png'), collaborate_url(:challenge_id => challenge.id) %>
<% end %>
<% @collaborations.where(challenge_id: challenge.id,user_id: current_user.id).each do |collaborate| %>
  <%= User.find(collaborate.user_id.to_i).email %>
<% end %>
</div>
<% end %>
