<div class="sign-in-header">
  <h4><%= image_tag('H.png') %><p>ackathon<p></h4>
  <div class="sign-in-header-links">
  <a id='add-challenge-btn'>Add Challenge</a>
  <%= link_to "Challenges", root_path%>
  <%= link_to "Edit", edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
</div>

<!-- Add Challege Pop Up Form -->
<div id="add-challenge-form-container", class="add-challenge-form-container">
  <div class="add-challenge-form-content">
    <div><span class="close">&times;</span></div>
    <div class="add-challenge-form">
      <%= form_for :challenge, :url => {:controller => "challenges", :action => "create" }  do |f| %>
      <%= f.label :title, :class => "label" %><br />
      <%= f.text_field :title, :class => "input" %><br />
      <%= f.label :description, :class => "label" %><br />
      <%= f.text_area :description, :class => "challenge-form-area" %><br />
      <%= f.label "Tag", :class => "label" %><br />
      <%= f.collection_select :tag_id, $tag , :id, :tag_name %><br />
      <%= f.text_field :user_id, :type => 'hidden'%>
      <div class="challenge-submit"><%= f.submit%></div>
      <% end %>
    </div>
  </div>
</div>
<!-- Add Challege Pop Up Form ENDS -->


<script>
showChallengeForm()
</script>
